*.iml
*/*.iml
*/*/*.iml
/target/
*/target/
*/*/target/
*/*/*/target/
/.idea/
*/.idea
*/*/.idea
*.settings
*/*.settings
*/*/*.settings
*.project
*/*.project
*/*/*.project
*.classpath
*/*.classpath
*/*/*.classpath
output/
*.DS_Store
*/*.DS_Store
*/*/*.DS_Store
*/bin
*/*/bin
*/*/*/bin
compile.sh
upload.sh
deploy/version.txt
.gitignore
app/test/*
