*.iml
*/*.iml
*/*/*.iml
/target/
*/target/
*/*/target/
*/*/*/target/
/.idea/
*/.idea
*/*/.idea
*.settings
*/*.settings
*/*/*.settings
*.project
*/*.project
*/*/*.project
*.DS_Store
*/*.DS_Store
*/*/*.DS_Store
.gitignore
